<a href="https://colab.research.google.com/github/MOOwuttichai/BSC_DPDM2023/blob/main/Frequent_Patterns_(Association_Rules).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/BSC-dpdm23_flie'

Mounted at /content/drive

In [3]:
data = pd.read_csv(os.path.join(path,'reduced_marketbasket.csv'),encoding='latin-1')

In [4]:
data
data_test=data

In [5]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 08:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/09/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/09/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/09/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/09/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/09/2011 12:50,4.95,12680.0,France

#Quit1 มีกี่ประเทศ

In [6]:
len(set(data['Country']))

38

#เเปลง data ใก้อยู่ในรูปเเบบ Transaction data ด้วย ```groupby.apply(list) ```

In [7]:
data.groupby('InvoiceNo')['StockCode'].apply(list)

InvoiceNo
536365     [85123A, 71053, 84406B, 84029G, 84029E, 22752,...
536366                                        [22633, 22632]
536367     [84879, 22745, 22748, 22749, 22310, 84969, 226...
536368                          [22960, 22913, 22912, 22914]
536369                                               [21756]
                                 ...
C581484                                              [23843]
C581490                                       [22178, 23144]
C581499                                                  [M]
C581568                                              [21258]
C581569                                       [84978, 20979]
Name: StockCode, Length: 25900, dtype: object

In [8]:
transactions = data.groupby('InvoiceNo')['StockCode'].apply(list)

## Association Rules

In [9]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5954 sha256=621ee7c3617c14ae07b15502c2a7d577e023a1bea6980db6667c7465ba42de5b
  Stored in directory: /root/.cache/pip/wheels/c4/1a/79/20f55c470a50bb3702a8cb7c94d8ada15573538c7f4baebe2d
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [10]:
from apyori import apriori

In [11]:
!pip install apyori
from apyori import apriori
transactions = data.groupby('InvoiceNo')['StockCode'].apply(list)
frequentItemsets = list(apriori(transactions,min_support = 0.065))
frequentItemsets

Requirement already satisfied: apyori in /usr/local/lib/python3.10/dist-packages (1.1.2)

[RelationRecord(items=frozenset({'22423'}), support=0.08386100386100385, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22423'}), confidence=0.08386100386100385, lift=1.0)]),
 RelationRecord(items=frozenset({'47566'}), support=0.06586872586872587, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'47566'}), confidence=0.06586872586872587, lift=1.0)]),
 RelationRecord(items=frozenset({'85099B'}), support=0.08243243243243244, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85099B'}), confidence=0.08243243243243244, lift=1.0)]),
 RelationRecord(items=frozenset({'85123A'}), support=0.08671814671814672, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'85123A'}), confidence=0.08671814671814672, lift=1.0)])]

In [12]:
len(frequentItemsets)

4

In [13]:
frequentItemsets[0]

RelationRecord(items=frozenset({'22423'}), support=0.08386100386100385, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22423'}), confidence=0.08386100386100385, lift=1.0)])

In [14]:
frequentItemsets[0][0]

frozenset({'22423'})

In [15]:
dir(frequentItemsets[0][0])

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

In [16]:
frequentItemsets[0][0].__len__()#หาขนาดของ itemset

1

In [17]:
min_sup = 0.03

frequentItemsets = list(apriori(transactions,min_support = min_sup))
for i in frequentItemsets:
    if i[0].__len__()>1:
        print('yes')
        print(i)

yes
RelationRecord(items=frozenset({'22386', '85099B'}), support=0.03216216216216216, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22386', '85099B'}), confidence=0.03216216216216216, lift=1.0), OrderedStatistic(items_base=frozenset({'22386'}), items_add=frozenset({'85099B'}), confidence=0.6766856214459789, lift=8.20897311262335), OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'22386'}), confidence=0.39016393442622943, lift=8.20897311262335)])
yes
RelationRecord(items=frozenset({'22697', '22699'}), support=0.03027027027027027, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22697', '22699'}), confidence=0.03027027027027027, lift=1.0), OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7417218543046358, lift=17.1523178807947), OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.7, lift=17.1523178807947)])

RelationRecord(items=frozenset({'22386', '85099B'}),
support=0.03216216216216216,

ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22386', '85099B'}), confidence=0.03216216216216216, lift=1.0),

OrderedStatistic(items_base=frozenset({'22386'}), items_add=frozenset({'85099B'}), confidence=0.6766856214459789, lift=8.20897311262335),

OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'22386'}), confidence=0.39016393442622943, lift=8.20897311262335)])

In [18]:
set(data[(data['StockCode']=='22386') | (data['StockCode']=='85099B') | (data['StockCode']=='22699') | (data['StockCode']=='22697') ]['Description'])

{'GREEN REGENCY TEACUP AND SAUCER',
 'JUMBO BAG PINK POLKADOT',
 'JUMBO BAG RED RETROSPOT',
 'ROSES REGENCY TEACUP AND SAUCER '}

#HW 1 หา Frequent Item Set เเละ Association Rules
* ของช่วงเวลา Christmas & New Year (1 Dec - 31 Dec)
* ของประเทศในทวีป Europe
* ของช่วงเวลา ตรุษจีน ในทวีป Asia (15 jan - 15 Feb)
* ของช่วงเวลา Christmas & New Year ในทวีป Europe(1 Dec - 31 Dec)
* ของวันวาเลนไทน์ (14 Feb)
* จัดกลุ่มตามประเทศ+เดิอน

##1.ของช่วงเวลา Christmas & New Year (1 Dec - 31 Dec)

###เเยกวันเดือนปีออกจากเวลา

In [19]:
data['InvoiceDate'][0].split()[0]

'12/01/2010'

In [20]:
date =[]
for i in range(len(data['InvoiceDate'])):
  x = data['InvoiceDate'][i].split()[0]
  date.append(x)
#set(L)

In [21]:
date[0].split('/')

['12', '01', '2010']

###เเยกวัน เดือน ปีออกจากกกัน

In [22]:
day =[]
month =[]
year =[]
for i in range(len(data['InvoiceDate'])):
  x = date[i].split('/')[0]
  y = date[i].split('/')[1]
  z = date[i].split('/')[2]
  day.append(x)
  month.append(y)
  year.append(z)

###ใส่ดาต้าใหม่

In [23]:
data_test['date']=date
data_test['day']=day
data_test['month']=month
data_test['year']=year

In [24]:
data_test

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 08:26,2.55,17850.0,United Kingdom,12/01/2010,12,01,2010
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 08:26,3.39,17850.0,United Kingdom,12/01/2010,12,01,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 08:26,2.75,17850.0,United Kingdom,12/01/2010,12,01,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 08:26,3.39,17850.0,United Kingdom,12/01/2010,12,01,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 08:26,3.39,17850.0,United Kingdom,12/01/2010,12,01,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/09/2011 12:50,0.85,12680.0,France,12/09/2011,12,09,2011
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/09/2011 12:50,2.10,12680.0,France,12/09/2011,12,09,2011
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/09/2011 12:50,4.15,12680.0,France,12/09/2011,12,09,2011
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/09/2011 12:50,4.15,12680.0,France,12/09/2011,12,09,2011
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/09/2011 12:50,4.95,12680.0,France,12/09/2011,12,09,2011

###เริ่มทำข้อ 1

In [25]:
data_C_and_N = data_test[data_test['month']=='12']

In [26]:
!pip install apyori
from apyori import apriori

Requirement already satisfied: apyori in /usr/local/lib/python3.10/dist-packages (1.1.2)

In [27]:
transactionsC_and_N = data_C_and_N.groupby('InvoiceNo')['StockCode'].apply(list)

In [28]:
frequentItemsets = list(apriori(transactionsC_and_N,min_support = 0.05))
#frequentItemsets

In [29]:
min_sup = 0.03

frequentItemsetsC_and_N = list(apriori(transactionsC_and_N,min_support = min_sup))
for i in frequentItemsetsC_and_N:
    if i[0].__len__()>1:
        print('yes')
        print(i)

yes
RelationRecord(items=frozenset({'22383', '20725'}), support=0.031203566121842496, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22383', '20725'}), confidence=0.031203566121842496, lift=1.0), OrderedStatistic(items_base=frozenset({'20725'}), items_add=frozenset({'22383'}), confidence=0.4666666666666667, lift=9.237254901960783), OrderedStatistic(items_base=frozenset({'22383'}), items_add=frozenset({'20725'}), confidence=0.6176470588235294, lift=9.237254901960785)])
yes
RelationRecord(items=frozenset({'22697', '22699'}), support=0.03417533432392273, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22697', '22699'}), confidence=0.03417533432392273, lift=1.0), OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7666666666666666, lift=18.42738095238095), OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.8214285714285714, lift=18.42738095238095)])

สรุปได้ดังนั้น
* RelationRecord(items=frozenset({'20725', '22383'}), support=0.031203566121842496)
  * ordered_statistics=OrderedStatistic(items_base=frozenset(), items_add=frozenset({'20725', '22383'}), confidence=0.031203566121842496, lift=1.0)
  * OrderedStatistic(items_base=frozenset({'20725'}), items_add=frozenset({'22383'}), confidence=0.4666666666666667, lift=9.237254901960783)
  * OrderedStatistic(items_base=frozenset({'22383'}), items_add=frozenset({'20725'}), confidence=0.6176470588235294, lift=9.237254901960785)
* RelationRecord(items=frozenset({'22697', '22699'}), support=0.03417533432392273)
  * ordered_statistics=OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22697', '22699'}), confidence=0.03417533432392273, lift=1.0)
  * OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7666666666666666, lift=18.42738095238095)
  * OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.8214285714285714, lift=18.42738095238095)

##2.ของประเทศในทวีป Europe

##เเบ่งทวีป

In [30]:
set(data['Country'])

{'Australia',
 'Austria',
 'Bahrain',
 'Belgium',
 'Brazil',
 'Canada',
 'Channel Islands',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'EIRE',
 'European Community',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hong Kong',
 'Iceland',
 'Israel',
 'Italy',
 'Japan',
 'Lebanon',
 'Lithuania',
 'Malta',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'RSA',
 'Saudi Arabia',
 'Singapore',
 'Spain',
 'Sweden',
 'Switzerland',
 'USA',
 'United Arab Emirates',
 'United Kingdom',
 'Unspecified'}

ทวีปยุโรป

In [31]:
UP_country = ['Austria','Belgium','Cyprus','Czech Republic','Denmark','EIRE','European Community','Finland','France','Germany','Greece','Iceland','Italy','Lithuania','Malta','Netherlands','Norway','Poland','Portugal','Spain','Sweden','United Kingdom']

ทวีปเอเชีย

In [32]:
Asia_country = ['Hong Kong','Bahrain','Israel','Japan','Lebanon','Saudi Arabia','Singapore','United Arab Emirates']

In [42]:
a0=data_test[data_test['Country']==UP_country[0]]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
7279,537026,84375,SET OF 20 KIDS COOKIE CUTTERS,12,12/03/2010 16:35,2.10,12395.0,Belgium,12/03/2010,12,03,2010
7280,537026,21217,RED RETROSPOT ROUND CAKE TINS,2,12/03/2010 16:35,9.95,12395.0,Belgium,12/03/2010,12,03,2010
7281,537026,21212,PACK OF 72 RETROSPOT CAKE CASES,120,12/03/2010 16:35,0.42,12395.0,Belgium,12/03/2010,12,03,2010
7282,537026,21977,PACK OF 60 PINK PAISLEY CAKE CASES,120,12/03/2010 16:35,0.42,12395.0,Belgium,12/03/2010,12,03,2010
7283,537026,22417,PACK OF 60 SPACEBOY CAKE CASES,120,12/03/2010 16:35,0.42,12395.0,Belgium,12/03/2010,12,03,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
541194,581493,23204,CHARLOTTE BAG APPLES DESIGN,10,12/09/2011 10:10,0.85,12423.0,Belgium,12/09/2011,12,09,2011
541195,581493,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,18,12/09/2011 10:10,0.79,12423.0,Belgium,12/09/2011,12,09,2011
541196,581493,22252,BIRDCAGE DECORATION TEALIGHT HOLDER,12,12/09/2011 10:10,1.25,12423.0,Belgium,12/09/2011,12,09,2011
541197,581493,22807,SET OF 6 T-LIGHTS TOADSTOOLS,6,12/09/2011 10:10,2.95,12423.0,Belgium,12/09/2011,12,09,2011
541198,581493,POST,POSTAGE,1,12/09/2011 10:10,15.00,12423.0,Belgium,12/09/2011,12,09,2011

### หาข้อมูลทวีปยุโรป

In [52]:
EU_data = data_test[data_test['Country']==""]
for i in range(len(UP_country)):
  x = data_test[data_test['Country']==UP_country[i]]
  EU_data=pd.concat([x,EU_data])

In [53]:
len(set(EU_data['Country']))

22

###หาข้อ 2

In [54]:
transactionsEU = EU_data.groupby('InvoiceNo')['StockCode'].apply(list)

In [55]:
frequentItemsets = list(apriori(transactionsEU,min_support = 0.05))
#frequentItemsets

In [70]:
min_sup = 0.03

frequentItemsetsEU= list(apriori(transactionsEU,min_support = min_sup))
for i in frequentItemsetsEU:
    if i[0].__len__()>1:
        print('yes')
        print(i)

yes
RelationRecord(items=frozenset({'22386', '85099B'}), support=0.03243053387449266, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22386', '85099B'}), confidence=0.03243053387449266, lift=1.0), OrderedStatistic(items_base=frozenset({'22386'}), items_add=frozenset({'85099B'}), confidence=0.6772616136919316, lift=8.201394890946151), OrderedStatistic(items_base=frozenset({'85099B'}), items_add=frozenset({'22386'}), confidence=0.39272211720226846, lift=8.201394890946151)])
yes
RelationRecord(items=frozenset({'22697', '22699'}), support=0.030049953168904152, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22697', '22699'}), confidence=0.030049953168904152, lift=1.0), OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7389635316698656, lift=17.213819577735123), OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.7, lift=17.213819577735123)])

##3.ของช่วงเวลา ตรุษจีน ในทวีป Asia (15 jan - 15 Feb)

##เเยกทวีปเอเชีย

In [72]:
Asia_data = data_test[data_test['Country']==""]
for i in range(len(Asia_country)):
  x = data_test[data_test['Country']==Asia_country[i]]
  Asia_data=pd.concat([x,Asia_data])

In [73]:
len(set(Asia_data['Country']))

8

In [74]:
transactionsAsia = Asia_data.groupby('InvoiceNo')['StockCode'].apply(list)

In [75]:
frequentItemsets = list(apriori(transactionsAsia,min_support = 0.05))
#frequentItemsets

In [76]:
min_sup = 0.03

frequentItemsetsAsia= list(apriori(transactionsAsia,min_support = min_sup))
for i in frequentItemsetsAsia:
    if i[0].__len__()>1:
        print('yes')
        print(i)

KeyboardInterrupt:

###หาข้อ 3

###5.ของวันวาเลนไทน์ (14 Feb)(ไม่มี 14 กุมพาพันธฺ์)

In [34]:
data_test[(data_test['month']=='02')]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
3108,536598,21421,PORCELAIN ROSE LARGE,12,12/02/2010 07:48,1.25,13090.0,United Kingdom,12/02/2010,12,02,2010
3109,536598,21422,PORCELAIN ROSE SMALL,16,12/02/2010 07:48,0.85,13090.0,United Kingdom,12/02/2010,12,02,2010
3110,536598,22178,VICTORIAN GLASS HANGING T-LIGHT,24,12/02/2010 07:48,1.25,13090.0,United Kingdom,12/02/2010,12,02,2010
3111,536598,22617,BAKING SET SPACEBOY DESIGN,24,12/02/2010 07:48,4.25,13090.0,United Kingdom,12/02/2010,12,02,2010
3112,536599,22968,ROSE COTTAGE KEEPSAKE BOX,8,12/02/2010 07:49,8.50,15694.0,United Kingdom,12/02/2010,12,02,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
522160,580379,72225C,NaN,-144,12/02/2011 17:57,0.00,NaN,United Kingdom,12/02/2011,12,02,2011
522161,580380,21620,check,-20,12/02/2011 17:58,0.00,NaN,United Kingdom,12/02/2011,12,02,2011
522162,580381,21758,NaN,-9,12/02/2011 17:58,0.00,NaN,United Kingdom,12/02/2011,12,02,2011
522163,580382,16045,check,-900,12/02/2011 17:59,0.00,NaN,United Kingdom,12/02/2011,12,02,2011
522164,580383,20652,check,-37,12/02/2011 17:59,0.00,NaN,United Kingdom,12/02/2011,12,02,2011

#quiz 22386 เเละ 85099B คือสินค้าอะไร

In [35]:
set(data[data['StockCode']=='22386']['Description'])

{'JUMBO BAG PINK POLKADOT'}

In [36]:
set(data[data['StockCode']=='85099B']['Description'])

{'JUMBO BAG RED RETROSPOT'}

RelationRecord(items=frozenset({'22699', '22697'}), support=0.03027027027027027,

ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'22699', '22697'}), confidence=0.03027027027027027, lift=1.0),

OrderedStatistic(items_base=frozenset({'22697'}), items_add=frozenset({'22699'}), confidence=0.7417218543046358, lift=17.1523178807947),

OrderedStatistic(items_base=frozenset({'22699'}), items_add=frozenset({'22697'}), confidence=0.7, lift=17.1523178807947)])

In [37]:
set(data[(data['StockCode']=='22699') | (data['StockCode']=='22697')]['InvoiceNo'])

{'546315',
 '545945',
 'C548485',
 '576339',
 '547788',
 '560906',
 '578943',
 '578044',
 '565784',
 '550186',
 '576181',
 '545429',
 'C566758',
 '569918',
 '563931',
 '556503',
 '544301',
 '579512',
 '559295',
 '563384',
 '536856',
 '548409',
 '541421',
 '550265',
 '536524',
 '557642',
 'C553479',
 '556953',
 '552663',
 '553385',
 '564172',
 '549746',
 '563534',
 '552323',
 '543045',
 '577691',
 '569137',
 '559052',
 '546683',
 '567368',
 '549124',
 '567631',
 'C552698',
 '580983',
 '547949',
 '548003',
 '536544',
 '572553',
 '551352',
 '547360',
 '545912',
 '551995',
 '550953',
 'C542263',
 '551160',
 '549524',
 '537955',
 '544928',
 'C551511',
 'C562953',
 '560357',
 '546837',
 '565916',
 '565396',
 '541220',
 '544668',
 '569577',
 '571216',
 '553718',
 '558862',
 '546896',
 '558777',
 '549296',
 '576899',
 '539609',
 '570187',
 '563896',
 '544338',
 'C562119',
 '556459',
 '541280',
 '575739',
 '550458',
 '573083',
 '540662',
 '556927',
 '578065',
 '548860',
 '556917',
 '553901',
 '553671',
 '557117',
 '578354',
 '554124',
 '561926',
 '540992',
 '567378',
 '566094',
 '564723',
 '537254',
 '540364',
 '537435',
 '565838',
 '549951',
 '558904',
 '568048',
 'C577388',
 '569917',
 '572751',
 '575947',
 '544055',
 '555275',
 '570374',
 '580665',
 'C543633',
 '570700',
 '539752',
 '566477',
 '573576',
 '548522',
 '578273',
 '553607',
 '560790',
 '546980',
 'C545444',
 '579508',
 '569524',
 '561894',
 '577029',
 'C569911',
 '556073',
 '543019',
 '540907',
 '541530',
 '551775',
 '539587',
 '537434',
 '571061',
 '567670',
 '566603',
 '554935',
 '549052',
 '574731',
 '565840',
 '543754',
 '545377',
 '574561',
 '544684',
 '543602',
 '548373',
 '548333',
 '543399',
 '544888',
 '541969',
 '559679',
 '560451',
 '575703',
 '559942',
 '561645',
 '553541',
 '580367',
 '543055',
 '548919',
 '570720',
 '537313',
 '573266',
 '559941',
 '562273',
 '579694',
 '555524',
 '568060',
 '555870',
 '580612',
 '546306',
 '544206',
 '550210',
 '546498',
 'C555253',
 '559337',
 '541866',
 '563909',
 '543013',
 '572552',
 '580774',
 '542344',
 '553546',
 '570258',
 '569544',
 '562429',
 '537470',
 '581345',
 '568804',
 '576329',
 '540777',
 '575490',
 '559525',
 '551997',
 '552687',
 '553709',
 '575930',
 '539451',
 '573553',
 '560398',
 '547385',
 '541008',
 '568193',
 '575063',
 '555647',
 '570270',
 '538862',
 '553899',
 '575484',
 '573125',
 '572549',
 '541584',
 '576644',
 '550499',
 '544394',
 '568065',
 '561209',
 '573338',
 '550471',
 '575939',
 '547846',
 '556416',
 '548808',
 '564835',
 '559800',
 'C556635',
 '553461',
 '543989',
 '548192',
 '543487',
 '544893',
 '556415',
 '546158',
 '577258',
 '549222',
 '550438',
 '536862',
 '549999',
 '539741',
 '545320',
 '565056',
 '554694',
 '550215',
 '553489',
 '560604',
 '537335',
 '553661',
 '554714',
 '549730',
 '555488',
 'C540393',
 '573511',
 '555015',
 '559493',
 '545014',
 '538566',
 '566976',
 '553684',
 '550474',
 '545176',
 '553210',
 '560772',
 '579777',
 '540539',
 '564057',
 '542102',
 '541859',
 '579102',
 '553543',
 '539437',
 '554514',
 '566559',
 '540465',
 '550213',
 '560780',
 'C564854',
 '566572',
 '546367',
 '559134',
 '579885',
 '542221',
 '568567',
 '553612',
 '563353',
 '549360',
 'C545456',
 '552149',
 '551171',
 '550921',
 '551885',
 '554557',
 '537643',
 '565519',
 '558475',
 '557064',
 '556284',
 '559357',
 '566871',
 '537754',
 '564306',
 '554643',
 '554110',
 '552514',
 '544768',
 '570834',
 '558918',
 '543485',
 '554974',
 '552231',
 '563023',
 '576616',
 '554098',
 '565424',
 '562202',
 '562553',
 '565286',
 '539593',
 '553369',
 '560826',
 '544779',
 '536592',
 'C546865',
 '568411',
 'C550664',
 '559886',
 '581498',
 '549016',
 '549056',
 '578344',
 '550989',
 '541129',
 '552270',
 '545719',
 '542583',
 '545467',
 'C538059',
 '557431',
 '566607',
 '552665',
 '544767',
 'C555598',
 '545721',
 '565862',
 '576063',
 '577298',
 '545063',
 '556501',
 '537022',
 '571546',
 '567507',
 '552857',
 '568199',
 '571377',
 '545601',
 '544920',
 '575875',
 '576672',
 '544314',
 '543099',
 '562607',
 '581006',
 '542862',
 '563169',
 '549120',
 '547107',
 '550437',
 '565289',
 '555925',
 '564552',
 '561698',
 '578827',
 '546669',
 '578994',
 '570650',
 '548726',
 '544305',
 '562950',
 '549595',
 'C555358',
 '581135',
 '548191',
 '565726',
 '570227',
 '571283',
 '543626',
 '577020',
 '575185',
 '543022',
 '568651',
 '569555',
 '547250',
 '566988',
 '579927',
 '539434',
 '537240',
 '558073',
 '569650',
 '574852',
 '539468',
 '560976',
 '561637',
 '540352',
 'C556268',
 '561394',
 '553035',
 '566290',
 '545343',
 '558443',
 '544205',
 '544569',
 '542600',
 '572613',
 '569419',
 '549305',
 '569737',
 '538883',
 '580066',
 '557481',
 '566731',
 '566602',
 '553869',
 '568057',
 '544434',
 '560777',
 '555147',
 '570465',
 '560209',
 '577039',
 '561236',
 '554337',
 '556264',
 '558540',
 'C567358',
 '556813',
 '576381',
 '542647',
 '558315',
 '563561',
 '542881',
 '557616',
 '545428',
 '548739',
 '581170',
 '581217',
 '558120',
 '545078',
 '541810',
 '579711',
 '569493',
 '559124',
 '580173',
 '555522',
 '579196',
 'C574507',
 '557782',
 '548987',
 '572540',
 '543732',
 '556259',
 'C544665',
 '546212',
 '565117',
 '544913',
 '561820',
 '552259',
 '563442',
 '567336',
 '555109',
 '543116',
 '552825',
 '550958',
 '564758',
 '552557',
 '548718',
 '566396',
 '554028',
 '546760',
 'C558312',
 '569570',
 '552710',
 '573320',
 '566236',
 '552843',
 '561051',
 '546007',
 '565120',
 '537385',
 '537179',
 '547826',
 '568134',
 '551173',
 '544421',
 '560246',
 '547547',
 '571219',
 '577078',
 '577518',
 '548896',
 '545340',
 '544208',
 '580730',
 '550899',
 '541576',
 '537830',
 '571034',
 '543973',
 '537237',
 '545460',
 '558864',
 '559827',
 'C545525',
 '574893',
 '575176',
 '565841',
 '552734',
 '566255',
 '579471',
 '541506',
 '546892',
 '552540',
 '567639',
 '575932',
 '549927',
 '548158',
 '562717',
 '556767',
 '545526',
 '571241',
 '576255',
 '568654',
 '558068',
 'C552016',
 '539442',
 '556016',
 '552642',
 '576202',
 '551860',
 '538903',
 '559112',
 '566788',
 '550205',
 '547399',
 '547493',
 '539635',
 '541110',
 '568369',
 '569545',
 '561125',
 '562102',
 '571745',
 '544681',
 '567341',
 '572092',
 '561891',
 '557621',
 '551717',
 '553870',
 '559930',
 '564857',
 '554959',
 '539492',
 '542389',
 'C542912',
 '566326',
 '547096',
 '568333',
 '564838',
 '557350',
 '542779',
 '573397',
 '556636',
 '564091',
 '565847',
 '545036',
 '553578',
 '574950',
 '576837',
 '558923',
 '568955',
 'C537853',
 '565849',
 '562113',
 '540418',
 '563614',
 '580727',
 '545568',
 '572212',
 '544339',
 '556243',
 '544574',
 '567140',
 '547206',
 '544657',
 '543565',
 '538370',
 '539742',
 '551657',
 'C577752',
 '558035',
 'C578144',
 '577358',
 '547964',
 '544833',
 '544660',
 '540915',
 '541870',
 '559055',
 '557262',
 'C564964',
 '572274',
 '537534',
 '537738',
 '551550',
 'C556793',
 'C541693',
 '555574',
 '548194',
 '554158',
 '580098',
 '556095',
 '578993',
 '573585',
 '549852',
 '552956',
 '550314',
 '572550',
 '558240',
 '575138',
 'C537834',
 '574700',
 '578347',
 '553146',
 '539594',
 '580115',
 '567671',
 '554813',
 '556826',
 '558089',
 '558372',
 '551994',
 '565781',
 '552336',
 '547042',
 '566091',
 '555150',
 'C569114',
 '561095',
 '552662',
 '551339',
 '550503',
 '537638',
 '559923',
 '565724',
 '571305',
 '548673',
 '576651',
 '569888',
 '581492',
 '572035',
 '563906',
 '563193',
 '550025',
 '567673',
 '537396',
 '580501',
 '566124',
 '562608',
 '559494',
 '560634',
 'C562921',
 '564092',
 '575324',
 '580729',
 '555743',
 '579093',
 '571058',
 '551062',
 '547967',
 '537378',
 '552804',
 '545667',
 '537823',
 '543107',
 '565994',
 'C560588',
 '547387',
 '542619',
 '567293',
 '577498',
 '544095',
 'C543837',
 '566597',
 '554036',
 '553768',
 '560590',
 '552975',
 '551005',
 '564817',
 '558262',
 '564820',
 '542664',
 '552563',
 '556082',
 '539737',
 '556206',
 '561089',
 '555276',
 '542719',
 '553542',
 '567663',
 '555277',
 '561933',
 '543909',
 '559173',
 '568346',
 '565748',
 'C546125',
 '577618',
 '572028',
 '547841',
 '563166',
 '552302',
 '549909',
 '546884',
 '556237',
 '540499',
 '542629',
 '565151',
 '555510',
 '565231',
 '541709',
 '547830',
 '578833',
 '555477',
 '572229',
 '548983',
 '551174',
 '577071',
 '555594',
 '547498',
 '575742',
 '543251',
 '581472',
 '541811',
 'C579945',
 '550307',
 '551953',
 '566600',
 '559497',
 '564301',
 '553162',
 '553575',
 '547828',
 '574368',
 '579012',
 '540839',
 '543106',
 '542543',
 '554139',
 '537176',
 '543533',
 'C554330',
 '560895',
 '537688',
 '541130',
 '565919',
 '556821',
 '547378',
 '573822',
 '549587',
 '545020',
 '542729',
 '548210',
 'C561232',
 '551531',
 '567184',
 '572758',
 'C539467',
 '559639',
 '558348',
 '543923',
 '547063',
 '578844',
 '565675',
 '544067',
 '568310',
 '545154',
 '561329',
 '550914',
 '557973',
 '549295',
 '548159',
 '558103',
 '555486',
 '557560',
 '545058',
 '559878',
 '562420',
 '551058',
 '563505',
 '567324',
 '571508',
 '546643',
 '564972',
 'C545449',
 '541960',
 '568655',
 '558119',
 '547936',
 '543826',
 '556812',
 '540005',
 'C545724',
 '542622',
 '570597',
 '564975',
 '563951',
 '550125',
 '557494',
 '554704',
 '565150',
 '550986',
 '566577',
 '545474',
 '543188',
 '579938',
 '554113',
 '560036',
 '558770',
 '539436',
 '570872',
 '548163',
 '551599',
 '548768',
 '551564',
 '564191',
 '571441',
 '575866',
 '577500',
 '565779',
 '553387',
 '555499',
 '558066',
 '570713',
 '562955',
 '569374',
 '564056',
 '557211',
 '557502',
 '569202',
 '545543',
 '566446',
 '566257',
 '540664',
 '540981',
 '536865',
 'C572410',
 '562157',
 '559906',
 '572655',
 '566193',
 '564974',
 '557034',
 '551850',
 '568908',
 '581122',
 '562353',
 'C559949',
 '564300',
 'C548355',
 '553191',
 '562534',
 '545426',
 '569230',
 '570459',
 '554040',
 '545333',
 '564065',
 '579297',
 '545032',
 '566400',
 '558681',
 '543451',
 '581238',
 '570257',
 '550987',
 '541695',
 '552493',
 '570388',
 '536623',
 '540372',
 '559489',
 '561702',
 '554310',
 '546891',
 '544075',
 '552715',
 '564754',
 'C551465',
 '578817',
 '551387',
 '569568',
 '565223',
 '558526',
 '555851',
 '538660',
 '548734',
 '543277',
 '541219',
 '581495',
 '555400',
 '573580',
 '556083',
 '546314',
 'C555254',
 '577400',
 'C549840',
 '536946',
 '566537',
 '557735',
 '560236',
 '548516',
 '548648',
 '545690',
 '577355',
 '545411',
 '581023',
 '564184',
 '547712',
 '552308',
 '546136',
 '541423',
 '559510',
 'C550648',
 '543546',
 '549997',
 '574707',
 'C538124',
 '561633',
 '562033',
 '563584',
 '561651',
 '573020',
 '580667',
 '540026',
 '543246',
 '562264',
 'C545033',
 '537666',
 '580610',
 '571433',
 '566060',
 '552816',
 '554326',
 '576840',
 '542717',
 '541497',
 '569415',
 '550183',
 '559938',
 '578149',
 '562166',
 '562427',
 '581439',
 '562713',
 'C539071',
 '540154',
 '554329',
 '540259',
 '539735',
 '545022',
 '546888',
 '539465',
 '555327',
 '562849',
 'C566167',
 '573778',
 '550500',
 '581219',
 '540848',
 '576388',
 '549294',
 '571257',
 '551057',
 '539450',
 '547386',
 '554958',
 'C550808',
 '540371',
 '562282',
 '570677',
 '551825',
 '546927',
 '557605',
 'C542413',
 '539736',
 '569367',
 ...}

In [38]:
data[data['InvoiceNo']=='562950']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,date,day,month,year
297488,562950,22752,SET 7 BABUSHKA NESTING BOXES,2,08/11/2011 09:56,8.50,15608.0,United Kingdom,08/11/2011,08,11,2011
297489,562950,22755,SMALL PURPLE BABUSHKA NOTEBOOK,12,08/11/2011 09:56,0.85,15608.0,United Kingdom,08/11/2011,08,11,2011
297490,562950,22753,SMALL YELLOW BABUSHKA NOTEBOOK,12,08/11/2011 09:56,0.85,15608.0,United Kingdom,08/11/2011,08,11,2011
297491,562950,22754,SMALL RED BABUSHKA NOTEBOOK,12,08/11/2011 09:56,0.85,15608.0,United Kingdom,08/11/2011,08,11,2011
297492,562950,22757,LARGE RED BABUSHKA NOTEBOOK,12,08/11/2011 09:56,1.25,15608.0,United Kingdom,08/11/2011,08,11,2011
297493,562950,22758,LARGE PURPLE BABUSHKA NOTEBOOK,12,08/11/2011 09:56,1.25,15608.0,United Kingdom,08/11/2011,08,11,2011
297494,562950,22756,LARGE YELLOW BABUSHKA NOTEBOOK,12,08/11/2011 09:56,1.25,15608.0,United Kingdom,08/11/2011,08,11,2011
297495,562950,23310,BUBBLEGUM RING ASSORTED,36,08/11/2011 09:56,0.42,15608.0,United Kingdom,08/11/2011,08,11,2011
297496,562950,23280,FOLDING BUTTERFLY MIRROR HOT PINK,12,08/11/2011 09:56,0.83,15608.0,United Kingdom,08/11/2011,08,11,2011
297497,562950,22383,LUNCH BAG SUKI DESIGN,10,08/11/2011 09:56,1.65,15608.0,United Kingdom,08/11/2011,08,11,2011
297498,562950,22492,MINI PAINT SET VINTAGE,36,08/11/2011 09:56,0.65,15608.0,United Kingdom,08/11/2011,08,11,2011
297499,562950,71459,HANGING JAM JAR T-LIGHT HOLDER,12,08/11/2011 09:56,0.85,15608.0,United Kingdom,08/11/2011,08,11,2011
297500,562950,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,08/11/2011 09:56,0.85,15608.0,United Kingdom,08/11/2011,08,11,2011
297501,562950,21175,GIN + TONIC DIET METAL SIGN,12,08/11/2011 09:56,2.55,15608.0,United Kingdom,08/11/2011,08,11,2011
297502,562950,23164,REGENCY CAKE SLICE,4,08/11/2011 09:56,4.95,15608.0,United Kingdom,08/11/2011,08,11,2011
297503,562950,23245,SET OF 3 REGENCY CAKE TINS,4,08/11/2011 09:56,4.95,15608.0,United Kingdom,08/11/2011,08,11,2011
297504,562950,23171,REGENCY TEA PLATE GREEN,12,08/11/2011 09:56,1.65,15608.0,United Kingdom,08/11/2011,08,11,2011
297505,562950,22697,GREEN REGENCY TEACUP AND SAUCER,6,08/11/2011 09:56,2.95,15608.0,United Kingdom,08/11/2011,08,11,2011