<a href="https://colab.research.google.com/github/MOOwuttichai/BSC_DPDM2023/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [42]:
import pandas as pd

In [43]:
data_65=pd.read_excel("/content/drive/MyDrive/BSC-dpdm23_flie/project/accidentmonth.xlsx")
data_64=pd.read_excel("/content/drive/MyDrive/BSC-dpdm23_flie/project/kh-muul-ubatiehtubnthaangphiess-piingbpramaan-2564-t-kh-63-k-y-64.xlsx")
data_63=pd.read_excel("/content/drive/MyDrive/BSC-dpdm23_flie/project/kh-muul-ubatiehtubnthaangphiess-piingbpramaan-2563-t-kh-62-k-y-63.xlsx")
data_62=pd.read_excel("/content/drive/MyDrive/BSC-dpdm23_flie/project/kh-muul-ubatiehtubnthaangphiess-piingbpramaan-2562-t-kh-61-k-y-62.xlsx")
data_61=pd.read_excel("/content/drive/MyDrive/BSC-dpdm23_flie/project/kh-muul-ubatiehtubnthaangphiess-piingbpramaan-2561-t-kh-60-k-y-61.xlsx")
data_60=pd.read_excel("/content/drive/MyDrive/BSC-dpdm23_flie/project/kh-muul-ubatiehtubnthaangphiess-piingbpramaan-2560-t-kh-59-k-y-60.xlsx")
data_59=pd.read_excel("/content/drive/MyDrive/BSC-dpdm23_flie/project/kh-muul-ubatiehtubnthaangphiess-piingbpramaan-2559-t-kh-58-k-y-59.xlsx")

In [44]:
data_65.isnull().any()

accident_date    False
accident_time    False
expw_step        False
weather_state    False
injur_man        False
injur_femel      False
dead_man         False
dead_femel       False
cause            False
dtype: bool

In [45]:
data_64.isnull().any()

accident_date    False
accident_time    False
step             False
ad_state         False
acman_rec        False
acfem_rec        False
deadman_rec      False
deadfem_rec      False
cause_type       False
dtype: bool

In [46]:
data_63.isnull().any()

accident_date    False
accident_time    False
expw_step        False
weather_state    False
injur_man        False
injur_femel      False
dead_man         False
dead_femel       False
cause            False
dtype: bool

In [47]:
data_62.isnull().any()

accident_date    False
accident_time    False
expw_step        False
weather_state    False
injur_man        False
injur_femel      False
dead_man         False
dead_femel       False
cause            False
dtype: bool

In [48]:
data_61.isnull().any()

accident_date    False
accident_time    False
expw_step        False
weather_state    False
injur_man        False
injur_femel      False
dead_man         False
dead_femel       False
cause            False
dtype: bool

In [49]:
data_60.isnull().any()

accident_date    False
accident_time    False
expw_step        False
weather_state    False
injur_man        False
injur_femel      False
dead_man         False
dead_femel       False
cause            False
dtype: bool

In [50]:
data_59.isnull().any()

accident_date    False
accident_time    False
expw_step        False
weather_state    False
injur_man        False
injur_femel      False
dead_man         False
dead_femel       False
cause            False
dtype: bool

## concat ครั้งที่1
พบว่ามีบ้าง ปีที่ชื่อ column ไม่ตรงกับตารางอื่นๆ

In [51]:
pd.concat([data_59,data_60,data_61,data_62,data_63,data_64]).head()

,accident_date,accident_time,expw_step,weather_state,injur_man,injur_femel,dead_man,dead_femel,cause,step,ad_state,acman_rec,acfem_rec,deadman_rec,deadfem_rec,cause_type
0,2016-03-15,07:23:23,ศรีรัช,ปกติ,0.0,0.0,0.0,0.0,โรคประจำตัว,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-07-27,12:22:22,ศรีรัช,ปกติ,0.0,0.0,0.0,0.0,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-12-09,14:40:40,ศรีรัช,ปกติ,0.0,0.0,0.0,0.0,ทำโทรศัพย์หล่นแล้วก้มหยิบ,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-08-20,17:01:01,ศรีรัช,ปกติ,0.0,0.0,0.0,0.0,ก้มหยิบเงิน,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-04-23,09:18:18,ศรีรัช,ปกติ,0.0,0.0,0.0,0.0,บรรทุกหนัก,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
data_59.columns

Index(['accident_date', 'accident_time', 'expw_step', 'weather_state',
       'injur_man', 'injur_femel', 'dead_man', 'dead_femel', 'cause'],
      dtype='object')

In [53]:
data_60.columns

Index(['accident_date', 'accident_time', 'expw_step', 'weather_state',
       'injur_man', 'injur_femel', 'dead_man', 'dead_femel', 'cause'],
      dtype='object')

In [54]:
data_61.columns

Index(['accident_date', 'accident_time', 'expw_step', 'weather_state',
       'injur_man', 'injur_femel', 'dead_man', 'dead_femel', 'cause'],
      dtype='object')

In [55]:
data_62.columns

Index(['accident_date', 'accident_time', 'expw_step', 'weather_state',
       'injur_man', 'injur_femel', 'dead_man', 'dead_femel', 'cause'],
      dtype='object')

In [56]:
data_64.columns

Index(['accident_date', 'accident_time', 'step', 'ad_state', 'acman_rec',
       'acfem_rec', 'deadman_rec', 'deadfem_rec', 'cause_type'],
      dtype='object')

In [57]:
data_64=data_64.rename(columns = {'step':'expw_step','ad_state':'weather_state','acman_rec':'injur_man','acfem_rec':'injur_femel'
,'deadman_rec':'dead_man','deadfem_rec':'dead_femel','cause_type':'cause'})

In [58]:
use_data=pd.concat([data_59,data_60,data_61,data_62,data_63,data_64]).reset_index().drop("index",axis=1)

In [59]:
use_data.to_excel('use_data.xlsx')

### ช่วงทำความสะอาด

In [60]:
use_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5695 entries, 0 to 5694
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   accident_date  5695 non-null   datetime64[ns]
 1   accident_time  5695 non-null   object
 2   expw_step      5695 non-null   object
 3   weather_state  5695 non-null   object
 4   injur_man      5695 non-null   int64
 5   injur_femel    5695 non-null   int64
 6   dead_man       5695 non-null   int64
 7   dead_femel     5695 non-null   int64
 8   cause          5695 non-null   object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 400.6+ KB

In [61]:
type(use_data['accident_time'][0])

datetime.time

เวลา

In [62]:
import datetime
def time_in_range(start, end, x):
    """Return true if x is in the range [start, end]"""
    if start <= end:
        return start <= x <= end
    else:
        return start <= x or x <= end

In [63]:
#ยกตัวอย่าง
start = datetime.time(6, 1, 0)
end = datetime.time(12, 0, 0)
time_in_range(start, end, use_data['accident_time'][0])

True

In [71]:
use_data['accident_time'][227]

datetime.time(12, 59, 59)

In [72]:
time_lable=[]
how =[]
#เช้า
start_0 = datetime.time(6, 0, 0)
end_0 = datetime.time(12, 59, 59)
#บ่าย
start_1 = datetime.time(13, 0, 0)
end_1 = datetime.time(18, 59, 59)
#ดึก
start_2 = datetime.time(19, 0, 0)
end_2 = datetime.time(23, 59, 59)
#หลังเที่ยงคืน
start_3 = datetime.time(0, 0, 0)
end_3 = datetime.time(5, 59, 59)
for i in range(len(use_data['accident_time'])):
  if time_in_range(start_0, end_0, use_data['accident_time'][i]) == True:
    time_lable.append(0)
  elif time_in_range(start_1, end_1, use_data['accident_time'][i]) == True:
    time_lable.append(1)
  elif time_in_range(start_2, end_2, use_data['accident_time'][i]) == True:
    time_lable.append(2)
  elif time_in_range(start_3, end_3, use_data['accident_time'][i]) == True:
    time_lable.append(3)
  else:
    how.append(i)
how

[]

In [74]:
use_data['time_lable']=time_lable

In [75]:
use_data

,accident_date,accident_time,expw_step,weather_state,injur_man,injur_femel,dead_man,dead_femel,cause,time_lable
0,2016-03-15 00:00:00,07:23:23,ศรีรัช,ปกติ,0,0,0,0,โรคประจำตัว,0
1,2016-07-27 00:00:00,12:22:22,ศรีรัช,ปกติ,0,0,0,0,-,0
2,2015-12-09 00:00:00,14:40:40,ศรีรัช,ปกติ,0,0,0,0,ทำโทรศัพย์หล่นแล้วก้มหยิบ,1
3,2016-08-20 00:00:00,17:01:01,ศรีรัช,ปกติ,0,0,0,0,ก้มหยิบเงิน,1
4,2016-04-23 00:00:00,09:18:18,ศรีรัช,ปกติ,0,0,0,0,บรรทุกหนัก,0
...,...,...,...,...,...,...,...,...,...,...
5690,2020-10-02 07:15:15,07:15:15,บูรพาวิถี,ปกติ,0,0,0,0,เพลิงไหม้,0
5691,2020-10-02 01:50:50,01:50:50,เฉลิมมหานคร,ถนนเปียกลื่น,2,1,0,0,ใช้ความเร็วเข้าโค้ง,3
5692,2020-10-02 00:50:50,00:50:50,ศรีรัช,ฝนตก,0,0,0,0,หลับใน,3
5693,2020-10-01 16:40:40,16:40:40,ฉลองรัช,ปกติ,0,0,0,0,เปลี่ยนช่องทางกระทันหัน,1
5694,2020-10-01 00:23:23,00:23:23,ฉลองรัช,ปกติ,0,0,0,0,ขับรถเร็วเกินไป,3